
{{#if showPrevious }}
  <span>|</span>
  <a href={{previousTopic}} id="previous_topic">  {{i18n 'previous_topic.label' }} </a>
{{/if}}
{{#if showNext }}
  <span>|</span>
  <a href={{nextTopic}} id="next_topic">  {{i18n 'next_topic.label'}}  </a>
{{/if}}
